.center {
    margin-left: auto;
  margin-right: auto;
  width: 500px;
}
th,td {
    border: 1px solid black;
}

.groter {
    font-size: 4.5em;
}

.lang {
    height: 150px;
    width: -1%;
}

.border {
    border-style: solid dotted solid dotted;
    border-width: 5px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: green;
}

#borderpaars {
    border: 2px solid rgb(242, 0, 169);
  padding: 10px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.border2 {
    border: 10px dotted red;
    
}

.border3 {
    border-style: dashed;
    border-bottom-width: 5px;
    border-top-width: 5px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-color: purple;
    border-bottom-color: purple;
}

.kleur_bg_wit {
    background-color: white;
    color: black;
}

.kleur_bg_zwart {
    background-color: black;
    color: white;
}
.kleur_bg_wit:hover {
    background-color: black;
    color: white;
}

.kleur_bg_zwart:hover {
    background-color: white;
    color: black;
}


